p {
    border: 5px solid blue;
    color: black;
}

.classWarning {
    background: #ff282d;
    font-size: 16px;
    font-family: 'DejaVu Sans Mono', monospace
}

#judul {
    font-size: 50px;
    font-family: "Times New Roman";
    font-style: italic;
    align-content: center;
}