<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Daftar Kota Kabupaten</title>
</head>
<body>
<section layout:fragment="content" class="container">

    <div class="alert alert-danger alert-dismissible" th:if="${notAvailabel} != null" th:text="${notAvailabel}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="alert alert-success alert-dismissible" th:if="${alertSuccess} != null" th:text="${alertSuccess}">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>

    <h1>Daftar Tabungan</h1>
    <hr/>

    <a href="/agama/formaslkfjasdf" th:href="@{/aplikasi/tabungan/form}" class="btn btn-success">Tambah data</a>
    <hr/>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
        <tr>

            <td>Nomor</td>
            <td>Nomor Rekening</td>
            <td>Nama Nasabah</td>
            <td>Tanggal Opening</td>
            <td>Jenis Tabungan</td>
            <td>Created By</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="tab, itrStat : ${listTabungan}">
            <td th:text="${itrStat.count}">1</td>
            <td th:text="${tab.nomorRekening}">Bandung</td>
            <td th:text="${tab.nasabah.namaLengkap}">Jawa Barat</td>
            <td th:text="${tab.opening}">Jawa Barat</td>
            <td th:text="${tab.kriteriaProduk.nama}">Jawa Barat</td>
            <td th:text="${tab.createdBy}">Jawa Barat</td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>