<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout/main}">
<head>
    <meta charset="UTF-8">
    <title>Form Agama</title>
</head>
<body>
<section layout:fragment="content" class="container">
    <h1>Form Kota Kabupaten</h1>

    <form th:action="@{/kelurahan/submit}" th:object="${kelurahan}" th:method="post" action="/kecamatan/submit"
          method="post">
        <div class="form-group">
            <label for="kodeKelurahan">Kode Kelurahan</label>
            <input type="text" id="kodeKelurahan" class="form-control" name="kodeKelurahan" th:field="*{id}" readonly/>
        </div>
        <div class="form-group">
            <label for="kotaId">Pilih Kecamatan</label>
            <select name="kotaId" id="kotaId" th:field="*{kecamatan.id}" class="form-control">
                <option value="" th:each="kecamatan : ${listKecamatan}" th:value="${kecamatan.id}"
                        th:label="${kecamatan.nama}">Bandung
                </option>
            </select>
            <div th:if="${#fields.hasErrors('kecamatan')}" th:errors="*{kecamatan}" class="alert alert-danger">Age
                Error
            </div>
        </div>
        <div class="form-group">
            <label for="namaKelurahan">Nama Kelurahan</label>
            <input type="text" id="namaKelurahan" class="form-control" name="namaKelurahan" th:field="*{nama}"/>
            <div th:if="${#fields.hasErrors('nama')}" th:errors="*{nama}" class="alert alert-danger">Age Error</div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Kirim</button>
            <button type="reset" class="btn btn-warning">Reset</button>
        </div>
    </form>
</section>
</body>
</html>