<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8"/>
    <title>Halaman Utama</title>
    <link rel="stylesheet" href="/static/layout.css"/>
</head>
<body>

<h3 id="judul">Judul halaman</h3>

<p style="color: #f1ff1d; font-style: italic">
    Halo ini saya saya sedang belajar <b>HTML</b> dalam sebuah
    paragraf.
</p>

<p>
    Halo ini saya saya sedang belajar <b>HTML</b> dalam sebuah
    paragraf. aslfdjd
</p>

<p>
    Halo ini saya saya sedang belajar <b>HTML</b> dalam sebuah
    paragraf. as;lfjadlsf
</p>

<input type="text" />
<button class="classWarning">Klik saya</button>

</body>
</html>